<div class="container">
    <app-navi></app-navi>


    

    <div class="row">
        <div class="col">
            <div class="row-md-4">
                <app-brand></app-brand>
            </div>
            <div class="row-md-4">
                <app-color></app-color>
            </div>
            
        </div>

        <div class="col-md-8">
            <router-outlet></router-outlet>
            <router-outlet name="image"></router-outlet>
            
        </div>
        
    </div>
    
    

</div>










